<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Party.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E700650F1F9ECE7800EB1B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E70065251F9ECE7800EB1B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E70065301F9ECE7800EB1B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E70F91201F9ED4B000B6A84D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
